*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:black;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:black;
}

.logo{
  color:red;
  font-size:35px;
  font-weight:bold;
}

.links a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.banner{
  height:90vh;
  background:url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1974&auto=format&fit=crop') center/cover;
  display:flex;
  align-items:center;
  padding-left:50px;
}

.content h1{
  font-size:60px;
  margin-bottom:20px;
}

.content p{
  font-size:20px;
  margin-bottom:20px;
}

button{
  padding:12px 25px;
  border:none;
  background:red;
  color:white;
  border-radius:5px;
}